@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
  color: white;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
}
.main {
  background-color: rgb(59, 59, 59);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  border: solid 5px rgb(117, 96, 67);
  gap: 30px;
  border-radius: 10px;
}
.headerT {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
}
.history {
  font-size: 0.8em;
  padding: 20px;
  background-color: rgb(117, 96, 67);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formbt {
  font-weight: 400;
  font-size: 1.2em;
  color: white;
  width: 84px;
}
.formb {
  display: flex;
  gap: 10px;
  align-items: center;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  background-color: rgb(85, 70, 52);
}
input::placeholder {
  color: rgb(200, 200, 200);
  opacity: 1;
}
input:focus {
  outline: none;
  background-color: rgb(77, 63, 46);
}
input:focus::placeholder {
  color: transparent;
}
.b {
  font-weight: 400;
  line-height: 1.4em;
}
.reset {
  width: 100px;
  margin-top: 10px;
}
button {
  background-color: rgb(117, 96, 67);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}
.highestb {
  font-weight: 400;
}
.winner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.highestbw {
  color: blueviolet;
  font-size: 2.5em;
  font-weight: 500;
}

.winnerb {
  display: flex;
  justify-content: center;
  align-items: center;
}
